sentence-transformers[onnx]
qdrant-client
pandas
fastembed
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-fastembed
llama-index-llms-ollama
llama-index-embeddings-ollama
fastapi[standard]
ragas
llama-index-postprocessor-colbert-rerank 
pymupdf4llm
python-docx
git+https://github.com/FlagOpen/FlagEmbedding.git
llama-index-postprocessor-flag-embedding-reranker
llama-index-postprocessor-colbert-rerank
openinference-instrumentation-llama_index
arize-phoenix-otel
uvicorn