body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  flex: 1;
}

.signature-container {
  font-size: 0.8rem;
  color: #888;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.user-message {
  background-color: #DCF8C6;
  color: coral; /* User text color */
  align-self: flex-end;
  max-width: 60%; /* User message max width */
}

.bot-message {
  background-color: #F1F0F0;
  color: #18f662; /* Bot text color */
  align-self: flex-start;
  margin-left: 10px;
  max-width: 60%; /* Bot message max width */
}

.message-icon {
  margin-right: 10px;
  color: navy;
}

.chat-input {
  width: 100%;
  margin-bottom: 10px; /* Added margin-bottom for spacing */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure the buttons container takes full width */
}

.voice-button {
  margin-right: 10px; /* Added margin-right for spacing */
  min-width: 150px; /* Adjusted width */
}

.submit-button {
  min-width: 150px;
}
.research-container {
  margin-top: 10px;
}

.research-container ul {
  list-style-type: none;
  padding: 0;
}

.research-container li {
  margin-bottom: 5px;
}

.research-container a {
  color: #007bff;
  text-decoration: none;
}

.research-container a:hover {
  text-decoration: underline;
}

.form-container {
  width: 100%;
  margin-left: 20px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}